.tccl*
PyTorch/contrib/Detection/*/work_dirs/
#*.pth

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache
dlloger_example.json
TecoInference/contrib/Detection
output_test
.idea
.gitignore
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
prec_bsz*

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# *.flac
# *.txt
*.tsv
*.zip
outputs/

!requirements.txt
.DS_Store
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/cog.yaml
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/LICENSE
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/readme.md
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/requirements.txt
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/setup.cfg
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/setup.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/VERSION
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/test.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/train.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/version.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/__init__.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/data_sampler.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/data_util.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/ffhq_dataset.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/paired_image_dataset.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/paired_image_SR_LR_dataset.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/paired_image_SR_LR_FullImage_Memory_dataset.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/prefetch_dataloader.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/single_image_dataset.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/transforms.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/video_test_dataset.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/vimeo90k_dataset.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/meta_info/meta_info_DIV2K800sub_GT.txt
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/meta_info/meta_info_REDS_GT.txt
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/meta_info/meta_info_REDS4_test_GT.txt
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/meta_info/meta_info_REDSofficial4_test_GT.txt
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/meta_info/meta_info_REDSval_official_test_GT.txt
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/meta_info/meta_info_Vimeo90K_test_fast_GT.txt
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/meta_info/meta_info_Vimeo90K_test_GT.txt
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/meta_info/meta_info_Vimeo90K_test_medium_GT.txt
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/meta_info/meta_info_Vimeo90K_test_slow_GT.txt
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/data/meta_info/meta_info_Vimeo90K_train_GT.txt
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/metrics/__init__.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/metrics/fid.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/metrics/metric_util.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/metrics/niqe_pris_params.npz
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/metrics/niqe.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/metrics/psnr_ssim.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/models/__init__.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/models/base_model.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/models/image_restoration_model.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/models/lr_scheduler.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/models/archs/__init__.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/models/archs/arch_util.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/models/archs/Baseline_arch.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/models/archs/local_arch.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/models/archs/NAFNet_arch.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/models/archs/NAFSSR_arch.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/models/losses/__init__.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/models/losses/loss_util.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/models/losses/losses.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/utils/__init__.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/utils/create_lmdb.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/utils/dist_util.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/utils/download_util.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/utils/face_util.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/utils/file_client.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/utils/flow_util.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/utils/img_util.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/utils/lmdb_util.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/utils/logger.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/utils/matlab_functions.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/utils/misc.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/basicsr/utils/options.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/demo/blurry.jpg
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/demo/denoise_img.png
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/demo/lr_img_l.png
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/demo/lr_img_r.png
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/demo/noisy.png
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/demo/sr_img_l.png
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/demo/sr_img_r.png
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/docs/GoPro.md
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/docs/REDS.md
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/docs/SIDD.md
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/docs/StereoSR.md
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/figures/deblur.gif
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/figures/denoise.gif
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/figures/NAFSSR_arch.jpg
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/figures/NAFSSR_params.jpg
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/figures/PSNR_vs_MACs.jpg
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/figures/StereoSR.gif
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/options/test/GoPro/Baseline-width32.yml
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/options/test/GoPro/Baseline-width64.yml
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/options/test/GoPro/NAFNet-width32.yml
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/options/test/GoPro/NAFNet-width64.yml
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/options/test/SIDD/Baseline-width32.yml
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/options/test/SIDD/Baseline-width64.yml
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/options/test/SIDD/NAFNet-width32.yml
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/options/test/SIDD/NAFNet-width64.yml
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/options/train/GoPro/Baseline-width32.yml
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/options/train/GoPro/Baseline-width64.yml
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/options/train/GoPro/NAFNet-width32.yml
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/options/train/GoPro/NAFNet-width64.yml
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/options/train/SIDD/Baseline-width32.yml
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/options/train/SIDD/Baseline-width64.yml
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/options/train/SIDD/NAFNet-width32.yml
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/options/train/SIDD/NAFNet-width64.yml
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/scripts/make_pickle.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/scripts/data_preparation/gopro.py
PyTorch/contrib/Super_resulotion/NAFNet_Denoise/scripts/data_preparation/sidd.py
