black
DLLogger @ git+https://github.com/NVIDIA/dllogger.git@0478734ff7be75adde8d160e04872664d1c62e5f
loguru
matplotlib
scipy
TCAP_DLLogger @ git+https://gitee.com/xiwei777/tcap_dllogger.git@6997d7d15b1b23e9000f9e5c5cd7536b6e1b299e
tqdm
