-r requirements/optional.txt
-r requirements/runtime.txt
-r requirements/tests.txt
setuptools==80.9.0
openmim 
git+https://gitee.com/xiwei777/mmengine_sdaa.git 
git+https://gitee.com/xiwei777/tcap_dllogger.git
mmcv==2.1.0
numpy==1.24.3