torch==2.1.2+cu126
torchvision==0.16.2
torchaudio==2.1.2
torchtext==0.16.2
torchdata==0.6.1
torchmetrics==1.8.0
torch-sdaa==20250616.14.30.dev0+git35328dc

pytorch-lightning==2.5.2
lightning-teco==1.8.6
lightning-utilities==0.15.0
tcap-dllogger==1.0.0  # 或使用 git+ 链接方式

transformers==4.54.0
diffusers==0.34.0
timm==1.0.19
open-clip-torch==2.32.0
pillow==11.1.0
opencv-python==4.12.0.88
numpy==1.24.4
pycocotools==2.0.10
omegaconf==2.3.0
ftfy==6.3.1
einops==0.8.1
tqdm==4.67.1
PyYAML==6.0.2
requests==2.32.3
aiohttp==3.12.14
scipy==1.11.4
matplotlib==3.8.4

# 可选：依赖注释版 git 安装
git+https://github.com/Rruown/lightning-Teco.git#egg=lightning-teco
git+https://gitee.com/xiwei777/tcap_dllogger.git#egg=tcap-dllogger
